<!-- <label for="cars">Selecione um carro:</label>
<select
  name="cars"
  id="cars"
  ngModel
  #meuSelectFormControl="ngModel"
  required=""
>
  <option value="" selected></option>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="fiat">Fiat</option>
  <option value="audi">Audi</option>
</select> -->

<label for="nationalities">Selecione uma nacionalidade</label>
<select
  name="nationalities"
  id="nationalities"
  [(ngModel)]="nationalitySelected"
  #meuSelectFormControl="ngModel"
  required=""
>
  <option value=""></option>
  @for (nationality of nationalities; track $index) {
  <option value="{{ nationality.id }}">{{ nationality.description }}</option>
  }
</select>

<p>Nacionalidade selecionada: {{ nationalitySelected }}</p>

<h3>Estado do select</h3>
<p>Válido: {{ meuSelectFormControl.valid }}</p>
<p>Tocado: {{ meuSelectFormControl.touched }}</p>
<p>Sujo: {{ meuSelectFormControl.dirty }}</p>
