<div class="container">
  <app-input-text></app-input-text>
</div>
<div class="container">
  <app-textarea></app-textarea>
</div>
<div class="container">
  <app-select></app-select>
</div>
<div class="container">
  <app-radio></app-radio>
</div>
<div class="container">
  <app-checkbox></app-checkbox>
</div>
<div class="container">
  <app-forms></app-forms>
</div>
<div class="container">
  <app-forms-group></app-forms-group>
</div>
<div class="container">
  <app-main-form></app-main-form>
</div>
<div class="container">
  <app-custom-validator-form-ex1></app-custom-validator-form-ex1>
</div>
